.body-container {
    background-color: #090917;
    padding-bottom: 30px;
    padding: 20px;
    min-height: 100vh;
    
}
.search-input {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-input-container {
    margin-top: 20px;
    border: 2px solid #b1b2b3;
    border-radius: 5px;
    width: 350px;
    max-width: 500px;
    height: 30px;
    padding: 3px 10px;
    padding-right: 3px;
    display: flex;
}
.input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}
.search-results-h1 {
    color: #b1b2b3;
    padding-left: 25px;
}
.results-h1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}